In [1]:
from torchvision import models
import torch

import os
import pandas as pd
from PIL import Image

import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import Dataset, DataLoader

from torchvision import transforms
from torchvision.transforms import Resize, ToTensor, Normalize
import matplotlib.pyplot as plt

resnet18_pretrained = models.resnet18(pretrained=True)

print(resnet18_pretrained)

ResNet(
  (conv1): Conv2d(3, 64, kernel_size=(7, 7), stride=(2, 2), padding=(3, 3), bias=False)
  (bn1): BatchNorm2d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (relu): ReLU(inplace=True)
  (maxpool): MaxPool2d(kernel_size=3, stride=2, padding=1, dilation=1, ceil_mode=False)
  (layer1): Sequential(
    (0): BasicBlock(
      (conv1): Conv2d(64, 64, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(64, 64, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
    (1): BasicBlock(
      (conv1): Conv2d(64, 64, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(64, 64, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
  )
  (layer2): Sequential(
    (0): BasicBlock(
      (conv1): Conv2d(64, 128, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(128, 128, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (downsample): Sequential(
        (0): Conv2d(64, 128, kernel_size=(1, 1), stride=(2, 2), bias=False)
        (1): BatchNorm2d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      )
    )
    (1): BasicBlock(
      (conv1): Conv2d(128, 128, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(128, 128, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
  )
  (layer3): Sequential(
    (0): BasicBlock(
      (conv1): Conv2d(128, 256, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(256, 256, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (downsample): Sequential(
        (0): Conv2d(128, 256, kernel_size=(1, 1), stride=(2, 2), bias=False)
        (1): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      )
    )
    (1): BasicBlock(
      (conv1): Conv2d(256, 256, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(256, 256, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
  )
  (layer4): Sequential(
    (0): BasicBlock(
      (conv1): Conv2d(256, 512, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(512, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(512, 512, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(512, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (downsample): Sequential(
        (0): Conv2d(256, 512, kernel_size=(1, 1), stride=(2, 2), bias=False)
        (1): BatchNorm2d(512, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      )
    )
    (1): BasicBlock(
      (conv1): Conv2d(512, 512, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(512, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(512, 512, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(512, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
  )
  (avgpool): AdaptiveAvgPool2d(output_size=(1, 1))
  (fc): Linear(in_features=512, out_features=1000, bias=True)
)

In [2]:
num_classes= 18
num_ftrs = resnet18_pretrained.fc.in_features
resnet18_pretrained.fc = nn.Linear(num_ftrs, num_classes)

In [3]:
class TrainDataset(Dataset):
    def __init__(self, img_paths, transform, json_data):
        self.img_paths = img_paths
        self.transform = transform
        self.json_data = json_data
        
    def __getitem__(self, index):
        image = Image.open(self.img_paths[index])

        if self.transform:
            image = self.transform(image)
        label = json_data[index//7]['img'][index%7]['class']
        
        return image, label

    def __len__(self):
        return len(self.img_paths)

In [4]:
import json
with open("train.json", "r") as f:
    json_data = json.load(f)
json_data = json_data['train']

In [5]:
# image_paths = []
# for image in json_data:
#     for img in image['img']:
#         print(img['path'])
#         image_paths.append(img['path'])

In [6]:
# image_paths[:10]

In [7]:
# meta 데이터와 이미지 경로를 불러옵니다.
path_dir = 'input/data/train/images'

# Test Dataset 클래스 객체를 생성하고 DataLoader를 만듭니다.
image_paths = []
for image in json_data:
    for img in image['img']:
        image_paths.append(img['path'])
transform = transforms.Compose([
    Resize((512, 384), Image.BILINEAR),
    transforms.RandomHorizontalFlip(0.5),
    ToTensor(),
    Normalize(mean=(0.5, 0.5, 0.5), std=(0.2, 0.2, 0.2)),
])
dataset = TrainDataset(image_paths, transform, json_data)

loader = DataLoader(
    dataset,
    batch_size=200, # 
    shuffle=True # shuffle 추가
)
from sklearn.metrics import f1_score
device = torch.device('cuda')
model = resnet18_pretrained.to(device)
model.train()

import torch.optim as optim
criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(model.parameters(), lr=0.002)

for epoch in range(10):
    running_loss = 0.0
    epoch_f1 = 0
    n_iter = 0
    for i, data in enumerate(loader, 0):
        inputs, labels = data
        inputs = inputs.to(device)
        labels = labels.to(device)
        # t_ = torch.zeros((100,18))
        # t_[range(100),labels]=1
        # print(t_)
        # t_ = t_.to(device)
        
        optimizer.zero_grad()
        
        outputs = model(inputs)
        _, preds = torch.max(outputs, 1)
        loss = criterion(outputs, labels)
        loss.backward()
        optimizer.step()

        running_loss += loss.item()
        if i % 10 == 9:
            print('{},{:.5f} loss: {:.3f}'.format(epoch+1, i+1, running_loss/10))
            running_loss=0.0
        epoch_f1 += f1_score(preds.cpu().numpy(), labels.cpu().numpy(), average='macro')
        n_iter += 1
    print('Finished')
    print('{:.4f}'.format(epoch_f1))

1,10.00000 loss: 1.390
1,20.00000 loss: 0.654
1,30.00000 loss: 0.491
1,40.00000 loss: 0.444
1,50.00000 loss: 0.349
1,60.00000 loss: 0.323
1,70.00000 loss: 0.350
1,80.00000 loss: 0.317
1,90.00000 loss: 0.323
Finished
62.5199
2,10.00000 loss: 0.322
2,20.00000 loss: 0.267
2,30.00000 loss: 0.234
2,40.00000 loss: 0.227
2,50.00000 loss: 0.240
2,60.00000 loss: 0.239
2,70.00000 loss: 0.228
2,80.00000 loss: 0.221
2,90.00000 loss: 0.242
Finished
76.5163
3,10.00000 loss: 0.202
3,20.00000 loss: 0.190
3,30.00000 loss: 0.145
3,40.00000 loss: 0.168
3,50.00000 loss: 0.168
3,60.00000 loss: 0.125
3,70.00000 loss: 0.169
3,80.00000 loss: 0.153
3,90.00000 loss: 0.162
Finished
81.4185
4,10.00000 loss: 0.120
4,20.00000 loss: 0.137
4,30.00000 loss: 0.132
4,40.00000 loss: 0.141
4,50.00000 loss: 0.117
4,60.00000 loss: 0.108
4,70.00000 loss: 0.112
4,80.00000 loss: 0.125
4,90.00000 loss: 0.112
Finished
85.2702
5,10.00000 loss: 0.122
5,20.00000 loss: 0.108
5,30.00000 loss: 0.107
5,40.00000 loss: 0.079
5,50.00000 loss: 0.095
5,60.00000 loss: 0.077
5,70.00000 loss: 0.081
5,80.00000 loss: 0.080
5,90.00000 loss: 0.103
Finished
87.2639
6,10.00000 loss: 0.080
6,20.00000 loss: 0.076
6,30.00000 loss: 0.082
6,40.00000 loss: 0.061
6,50.00000 loss: 0.049
6,60.00000 loss: 0.051
6,70.00000 loss: 0.048
6,80.00000 loss: 0.047
6,90.00000 loss: 0.051
Finished
90.9302
7,10.00000 loss: 0.057
7,20.00000 loss: 0.062
7,30.00000 loss: 0.082
7,40.00000 loss: 0.073
7,50.00000 loss: 0.071
7,60.00000 loss: 0.057
7,70.00000 loss: 0.073
7,80.00000 loss: 0.044
7,90.00000 loss: 0.048
Finished
90.3369
8,10.00000 loss: 0.047
8,20.00000 loss: 0.055
8,30.00000 loss: 0.039
8,40.00000 loss: 0.032
8,50.00000 loss: 0.030
8,60.00000 loss: 0.033
8,70.00000 loss: 0.030
8,80.00000 loss: 0.039
8,90.00000 loss: 0.031
Finished
92.1589
9,10.00000 loss: 0.049
9,20.00000 loss: 0.052
9,30.00000 loss: 0.055
9,40.00000 loss: 0.043
9,50.00000 loss: 0.055
9,60.00000 loss: 0.034
9,70.00000 loss: 0.057
9,80.00000 loss: 0.044
9,90.00000 loss: 0.055
Finished
91.1073
10,10.00000 loss: 0.058
10,20.00000 loss: 0.049
10,30.00000 loss: 0.052
10,40.00000 loss: 0.035
10,50.00000 loss: 0.040
10,60.00000 loss: 0.037
10,70.00000 loss: 0.046
10,80.00000 loss: 0.053
10,90.00000 loss: 0.050
Finished
90.9281

In [9]:
class TestDataset(Dataset):
    def __init__(self, img_paths, transform):
        self.img_paths = img_paths
        self.transform = transform

    def __getitem__(self, index):
        image = Image.open(self.img_paths[index])

        if self.transform:
            image = self.transform(image)
        return image

    def __len__(self):
        return len(self.img_paths)

In [10]:
# meta 데이터와 이미지 경로를 불러옵니다.
test_dir = '/opt/ml/input/data/eval'
submission = pd.read_csv(os.path.join(test_dir, 'info.csv'))
image_dir = os.path.join(test_dir, 'images')

# Test Dataset 클래스 객체를 생성하고 DataLoader를 만듭니다.
image_paths = [os.path.join(image_dir, img_id) for img_id in submission.ImageID]
transform = transforms.Compose([
    Resize((512, 384), Image.BILINEAR),
    ToTensor(),
    Normalize(mean=(0.5, 0.5, 0.5), std=(0.2, 0.2, 0.2)),
])
dataset = TestDataset(image_paths, transform)

loader = DataLoader(
    dataset,
    shuffle=False
)

# 모델을 정의합니다. (학습한 모델이 있다면 torch.load로 모델을 불러주세요!)
model.eval()

# 모델이 테스트 데이터셋을 예측하고 결과를 저장합니다.
all_predictions = []
for images in loader:
    with torch.no_grad():
        images = images.to(device)
        pred = model(images)
        pred = pred.argmax(dim=-1)
        all_predictions.extend(pred.cpu().numpy())
submission['ans'] = all_predictions

# 제출할 파일을 저장합니다.
submission.to_csv(os.path.join(test_dir, 'batch_200_RandHorFlip_epoch_10.csv'), index=False)
print('test inference is done!')

test inference is done!

In [13]:
path_dir = 'input/data/train/images'

# Test Dataset 클래스 객체를 생성하고 DataLoader를 만듭니다.
image_paths = []
for image in json_data:
    for img in image['img']:
        image_paths.append(img['path'])
transform = transforms.Compose([
    Resize((512, 384), Image.BILINEAR),
    ToTensor(),
    Normalize(mean=(0.5, 0.5, 0.5), std=(0.2, 0.2, 0.2)),
])
dataset = TrainDataset(image_paths, transform, json_data)

loader = DataLoader(
    dataset,
    shuffle=True # shuffle 추가
)

device = torch.device('cuda')

# 모델을 정의합니다. (학습한 모델이 있다면 torch.load로 모델을 불러주세요!)
model.eval()

all_predictions = []
all_labels = []
for images, labels in loader:
    with torch.no_grad():
        images = images.to(device)
        pred = model(images)
        pred = pred.argmax(dim=-1)
        all_predictions.extend(pred.cpu().numpy())
        all_labels.extend(labels.cpu().numpy())

submission['ans'] = all_predictions
submission['label'] = all_labels

# 제출할 파일을 저장합니다.
submission.to_csv(os.path.join(test_dir, 'test.csv'), index=False)
print('test inference is done!')

ValueError: Length of values (18900) does not match length of index (12600)

In [11]:
import cv2

In [17]:
len(all_predictions)

18900

In [18]:
len(all_labels)

18900

In [31]:
pd.DataFrame(range(len(all_labels)),[all_predictions,all_labels])

           0
0  0       0
1  1       1
15 15      2
4  4       3
   4       4
...      ...
0  0   18895
4  4   18896
3  3   18897
15 15  18898
10 10  18899

[18900 rows x 1 columns]

In [35]:
predab = pd.DataFrame([all_labels,all_predictions])

In [42]:
predab = predab.transpose()

In [49]:

for i in range(18900):
    if predab.iloc[i][0] != predab.iloc[i][1]:
        print(predab.iloc[i])

0    4
1    1
Name: 21, dtype: int64
0    16
1    13
Name: 29, dtype: int64
0    4
1    1
Name: 71, dtype: int64
0    14
1    13
Name: 80, dtype: int64
0    3
1    4
Name: 175, dtype: int64
0    8
1    7
Name: 216, dtype: int64
0    0
1    1
Name: 250, dtype: int64
0    3
1    0
Name: 341, dtype: int64
0    8
1    7
Name: 345, dtype: int64
0    10
1     7
Name: 406, dtype: int64
0    16
1    13
Name: 445, dtype: int64
0    14
1    13
Name: 463, dtype: int64
0    14
1    13
Name: 487, dtype: int64
0    0
1    1
Name: 511, dtype: int64
0    4
1    1
Name: 563, dtype: int64
0    16
1    13
Name: 594, dtype: int64
0    3
1    0
Name: 611, dtype: int64
0    4
1    1
Name: 641, dtype: int64
0    10
1     7
Name: 705, dtype: int64
0    4
1    1
Name: 750, dtype: int64
0    5
1    2
Name: 758, dtype: int64
0    4
1    1
Name: 869, dtype: int64
0    12
1    13
Name: 876, dtype: int64
0    12
1    13
Name: 892, dtype: int64
0    4
1    1
Name: 895, dtype: int64
0    16
1    13
Name: 916, dtype: int64
0    9
1    6
Name: 934, dtype: int64
0    3
1    0
Name: 987, dtype: int64
0    3
1    0
Name: 1010, dtype: int64
0    16
1    17
Name: 1084, dtype: int64
0    16
1    13
Name: 1108, dtype: int64
0    4
1    1
Name: 1112, dtype: int64
0    3
1    0
Name: 1163, dtype: int64
0    3
1    0
Name: 1164, dtype: int64
0    4
1    5
Name: 1219, dtype: int64
0    6
1    7
Name: 1228, dtype: int64
0    3
1    0
Name: 1276, dtype: int64
0    16
1    17
Name: 1319, dtype: int64
0    10
1     7
Name: 1330, dtype: int64
0    3
1    0
Name: 1365, dtype: int64
0    4
1    1
Name: 1366, dtype: int64
0    4
1    1
Name: 1384, dtype: int64
0    4
1    5
Name: 1475, dtype: int64
0    4
1    1
Name: 1483, dtype: int64
0    3
1    4
Name: 1523, dtype: int64
0    12
1    13
Name: 1525, dtype: int64
0    14
1    13
Name: 1577, dtype: int64
0    3
1    4
Name: 1612, dtype: int64
0    10
1     7
Name: 1626, dtype: int64
0    3
1    0
Name: 1697, dtype: int64
0    4
1    1
Name: 1699, dtype: int64
0    4
1    1
Name: 1711, dtype: int64
0    3
1    0
Name: 1731, dtype: int64
0    10
1     4
Name: 1825, dtype: int64
0    3
1    4
Name: 1826, dtype: int64
0    16
1    13
Name: 1830, dtype: int64
0    10
1     7
Name: 1867, dtype: int64
0    4
1    1
Name: 1873, dtype: int64
0    16
1    13
Name: 1883, dtype: int64
0    15
1    12
Name: 1896, dtype: int64
0    15
1    13
Name: 1901, dtype: int64
0    3
1    0
Name: 1903, dtype: int64
0    4
1    1
Name: 1908, dtype: int64
0    16
1    13
Name: 1914, dtype: int64
0    3
1    4
Name: 1926, dtype: int64
0    3
1    0
Name: 1933, dtype: int64
0    4
1    1
Name: 1936, dtype: int64
0    4
1    1
Name: 1951, dtype: int64
0    0
1    1
Name: 2022, dtype: int64
0    16
1    13
Name: 2099, dtype: int64
0    5
1    4
Name: 2108, dtype: int64
0    3
1    4
Name: 2126, dtype: int64
0    3
1    0
Name: 2207, dtype: int64
0    3
1    0
Name: 2221, dtype: int64
0    16
1    13
Name: 2222, dtype: int64
0    10
1     7
Name: 2256, dtype: int64
0    8
1    7
Name: 2274, dtype: int64
0    3
1    0
Name: 2299, dtype: int64
0    4
1    1
Name: 2308, dtype: int64
0    12
1    13
Name: 2321, dtype: int64
0    16
1    13
Name: 2328, dtype: int64
0    4
1    1
Name: 2383, dtype: int64
0    4
1    1
Name: 2423, dtype: int64
0    4
1    1
Name: 2450, dtype: int64
0    14
1    13
Name: 2516, dtype: int64
0    16
1    13
Name: 2535, dtype: int64
0    4
1    1
Name: 2537, dtype: int64
0    3
1    4
Name: 2635, dtype: int64
0    16
1    13
Name: 2663, dtype: int64
0    12
1     6
Name: 2664, dtype: int64
0    16
1    13
Name: 2747, dtype: int64
0    3
1    0
Name: 2751, dtype: int64
0    4
1    1
Name: 2794, dtype: int64
0    16
1    13
Name: 2854, dtype: int64
0    10
1     7
Name: 2877, dtype: int64
0    4
1    5
Name: 2908, dtype: int64
0    4
1    1
Name: 2922, dtype: int64
0    10
1     7
Name: 2940, dtype: int64
0    2
1    1
Name: 2969, dtype: int64
0    4
1    5
Name: 2975, dtype: int64
0    16
1    13
Name: 2977, dtype: int64
0    4
1    1
Name: 2994, dtype: int64
0    3
1    0
Name: 3000, dtype: int64
0    3
1    0
Name: 3014, dtype: int64
0    0
1    1
Name: 3019, dtype: int64
0    5
1    2
Name: 3031, dtype: int64
0    4
1    1
Name: 3041, dtype: int64
0    4
1    1
Name: 3096, dtype: int64
0    4
1    1
Name: 3110, dtype: int64
0    3
1    4
Name: 3225, dtype: int64
0    16
1    13
Name: 3252, dtype: int64
0    4
1    1
Name: 3288, dtype: int64
0    16
1    17
Name: 3330, dtype: int64
0    16
1    13
Name: 3353, dtype: int64
0    4
1    1
Name: 3363, dtype: int64
0    3
1    0
Name: 3396, dtype: int64
0    3
1    0
Name: 3414, dtype: int64
0    16
1    13
Name: 3439, dtype: int64
0    3
1    0
Name: 3465, dtype: int64
0    3
1    0
Name: 3495, dtype: int64
0    4
1    1
Name: 3509, dtype: int64
0    8
1    7
Name: 3522, dtype: int64
0    3
1    0
Name: 3543, dtype: int64
0    4
1    1
Name: 3568, dtype: int64
0    11
1    10
Name: 3591, dtype: int64
0    5
1    2
Name: 3653, dtype: int64
0    4
1    1
Name: 3682, dtype: int64
0    4
1    5
Name: 3744, dtype: int64
0    4
1    1
Name: 3757, dtype: int64
0    3
1    0
Name: 3793, dtype: int64
0    8
1    7
Name: 3839, dtype: int64
0    3
1    0
Name: 3885, dtype: int64
0    3
1    0
Name: 3903, dtype: int64
0    16
1    17
Name: 3906, dtype: int64
0    15
1    12
Name: 3964, dtype: int64
0    4
1    1
Name: 4048, dtype: int64
0    5
1    2
Name: 4078, dtype: int64
0    5
1    4
Name: 4080, dtype: int64
0    3
1    4
Name: 4109, dtype: int64
0    4
1    1
Name: 4117, dtype: int64
0    10
1     7
Name: 4130, dtype: int64
0    6
1    7
Name: 4143, dtype: int64
0    0
1    1
Name: 4184, dtype: int64
0    16
1    10
Name: 4367, dtype: int64
0    2
1    1
Name: 4424, dtype: int64
0    4
1    1
Name: 4432, dtype: int64
0    4
1    1
Name: 4475, dtype: int64
0    3
1    0
Name: 4491, dtype: int64
0    4
1    1
Name: 4510, dtype: int64
0    2
1    1
Name: 4574, dtype: int64
0    17
1    16
Name: 4595, dtype: int64
0    3
1    1
Name: 4596, dtype: int64
0    4
1    1
Name: 4622, dtype: int64
0    4
1    1
Name: 4658, dtype: int64
0    4
1    1
Name: 4669, dtype: int64
0    4
1    1
Name: 4680, dtype: int64
0    4
1    1
Name: 4682, dtype: int64
0    4
1    1
Name: 4710, dtype: int64
0    6
1    7
Name: 4725, dtype: int64
0    0
1    1
Name: 4728, dtype: int64
0    3
1    0
Name: 4749, dtype: int64
0    0
1    1
Name: 4751, dtype: int64
0    16
1    13
Name: 4774, dtype: int64
0    0
1    1
Name: 4791, dtype: int64
0    9
1    6
Name: 4803, dtype: int64
0    10
1     7
Name: 4810, dtype: int64
0    3
1    0
Name: 4838, dtype: int64
0    15
1    13
Name: 4839, dtype: int64
0    10
1     7
Name: 4847, dtype: int64
0    10
1     7
Name: 4884, dtype: int64
0    16
1    17
Name: 4897, dtype: int64
0    3
1    0
Name: 4908, dtype: int64
0    16
1    17
Name: 4923, dtype: int64
0    12
1    13
Name: 4941, dtype: int64
0    10
1     7
Name: 4942, dtype: int64
0    9
1    7
Name: 4954, dtype: int64
0    4
1    5
Name: 4973, dtype: int64
0    4
1    1
Name: 4974, dtype: int64
0    4
1    1
Name: 5062, dtype: int64
0    3
1    0
Name: 5067, dtype: int64
0    4
1    1
Name: 5112, dtype: int64
0    4
1    1
Name: 5129, dtype: int64
0    4
1    1
Name: 5147, dtype: int64
0    16
1    17
Name: 5158, dtype: int64
0    4
1    1
Name: 5172, dtype: int64
0    16
1    13
Name: 5218, dtype: int64
0    8
1    7
Name: 5247, dtype: int64
0    12
1    13
Name: 5255, dtype: int64
0    4
1    5
Name: 5290, dtype: int64
0    3
1    0
Name: 5383, dtype: int64
0    0
1    1
Name: 5399, dtype: int64
0    4
1    1
Name: 5434, dtype: int64
0    4
1    1
Name: 5445, dtype: int64
0    4
1    1
Name: 5463, dtype: int64
0    4
1    1
Name: 5484, dtype: int64
0    14
1    13
Name: 5493, dtype: int64
0    4
1    1
Name: 5513, dtype: int64
0    3
1    0
Name: 5560, dtype: int64
0    16
1    13
Name: 5613, dtype: int64
0    3
1    0
Name: 5621, dtype: int64
0    4
1    1
Name: 5649, dtype: int64
0    16
1    13
Name: 5679, dtype: int64
0    16
1    13
Name: 5770, dtype: int64
0    11
1     7
Name: 5789, dtype: int64
0    4
1    1
Name: 5816, dtype: int64
0    4
1    5
Name: 5834, dtype: int64
0    5
1    4
Name: 5866, dtype: int64
0    2
1    1
Name: 5889, dtype: int64
0    2
1    1
Name: 5974, dtype: int64
0    3
1    0
Name: 6046, dtype: int64
0    4
1    1
Name: 6076, dtype: int64
0    8
1    7
Name: 6157, dtype: int64
0    14
1    17
Name: 6183, dtype: int64
0    16
1    13
Name: 6220, dtype: int64
0    16
1    13
Name: 6282, dtype: int64
0    12
1    13
Name: 6290, dtype: int64
0    4
1    1
Name: 6298, dtype: int64
0    4
1    1
Name: 6299, dtype: int64
0    5
1    2
Name: 6326, dtype: int64
0    15
1    12
Name: 6353, dtype: int64
0    16
1    13
Name: 6365, dtype: int64
0    10
1     7
Name: 6418, dtype: int64
0    16
1    13
Name: 6445, dtype: int64
0    10
1     7
Name: 6497, dtype: int64
0    4
1    1
Name: 6542, dtype: int64
0    3
1    0
Name: 6552, dtype: int64
0    10
1     7
Name: 6600, dtype: int64
0    3
1    4
Name: 6652, dtype: int64
0    4
1    1
Name: 6672, dtype: int64
0    4
1    1
Name: 6735, dtype: int64
0    10
1     7
Name: 6737, dtype: int64
0    3
1    0
Name: 6751, dtype: int64
0    4
1    1
Name: 6833, dtype: int64
0    3
1    0
Name: 6905, dtype: int64
0    4
1    1
Name: 6987, dtype: int64
0     6
1    10
Name: 7025, dtype: int64
0    16
1    13
Name: 7029, dtype: int64
0    3
1    0
Name: 7039, dtype: int64
0    3
1    0
Name: 7041, dtype: int64
0    15
1    13
Name: 7113, dtype: int64
0    3
1    4
Name: 7154, dtype: int64
0    12
1    13
Name: 7168, dtype: int64
0    16
1    13
Name: 7197, dtype: int64
0    4
1    1
Name: 7262, dtype: int64
0    4
1    1
Name: 7302, dtype: int64
0    4
1    1
Name: 7337, dtype: int64
0    4
1    1
Name: 7370, dtype: int64
0    5
1    1
Name: 7402, dtype: int64
0    0
1    1
Name: 7435, dtype: int64
0    16
1    13
Name: 7445, dtype: int64
0    4
1    1
Name: 7484, dtype: int64
0    4
1    1
Name: 7517, dtype: int64
0    4
1    1
Name: 7530, dtype: int64
0    8
1    7
Name: 7590, dtype: int64
0    3
1    0
Name: 7600, dtype: int64
0    10
1     7
Name: 7616, dtype: int64
0    16
1    13
Name: 7670, dtype: int64
0    4
1    1
Name: 7712, dtype: int64
0    16
1    13
Name: 7744, dtype: int64
0    3
1    0
Name: 7814, dtype: int64
0    3
1    0
Name: 7929, dtype: int64
0    12
1    13
Name: 7978, dtype: int64
0    4
1    1
Name: 7993, dtype: int64
0    16
1    13
Name: 7999, dtype: int64
0    4
1    1
Name: 8018, dtype: int64
0    4
1    1
Name: 8023, dtype: int64
0    4
1    1
Name: 8045, dtype: int64
0    3
1    4
Name: 8052, dtype: int64
0    3
1    0
Name: 8074, dtype: int64
0    16
1    17
Name: 8112, dtype: int64
0    3
1    0
Name: 8128, dtype: int64
0    4
1    1
Name: 8154, dtype: int64
0    4
1    1
Name: 8160, dtype: int64
0    16
1    13
Name: 8177, dtype: int64
0    5
1    1
Name: 8196, dtype: int64
0    3
1    0
Name: 8203, dtype: int64
0    4
1    1
Name: 8215, dtype: int64
0    16
1    13
Name: 8230, dtype: int64
0    4
1    1
Name: 8264, dtype: int64
0    8
1    7
Name: 8360, dtype: int64
0    16
1    13
Name: 8369, dtype: int64
0    16
1    13
Name: 8389, dtype: int64
0    4
1    1
Name: 8419, dtype: int64
0    4
1    1
Name: 8447, dtype: int64
0    3
1    0
Name: 8458, dtype: int64
0    9
1    6
Name: 8481, dtype: int64
0    10
1     7
Name: 8504, dtype: int64
0    5
1    2
Name: 8580, dtype: int64
0    3
1    0
Name: 8619, dtype: int64
0    16
1    13
Name: 8698, dtype: int64
0    10
1     7
Name: 8761, dtype: int64
0    3
1    4
Name: 8776, dtype: int64
0    10
1     7
Name: 8924, dtype: int64
0    16
1    13
Name: 8944, dtype: int64
0    3
1    0
Name: 8958, dtype: int64
0    4
1    1
Name: 8998, dtype: int64
0    4
1    1
Name: 9016, dtype: int64
0    0
1    4
Name: 9043, dtype: int64
0    15
1    12
Name: 9083, dtype: int64
0    3
1    1
Name: 9144, dtype: int64
0    16
1    17
Name: 9162, dtype: int64
0    10
1     7
Name: 9169, dtype: int64
0    3
1    4
Name: 9198, dtype: int64
0    3
1    0
Name: 9218, dtype: int64
0    8
1    7
Name: 9289, dtype: int64
0    16
1    13
Name: 9324, dtype: int64
0    4
1    1
Name: 9357, dtype: int64
0    15
1    16
Name: 9363, dtype: int64
0    4
1    1
Name: 9375, dtype: int64
0    4
1    1
Name: 9442, dtype: int64
0    4
1    1
Name: 9450, dtype: int64
0    16
1    13
Name: 9456, dtype: int64
0    11
1    10
Name: 9489, dtype: int64
0    3
1    4
Name: 9535, dtype: int64
0    9
1    6
Name: 9578, dtype: int64
0    4
1    1
Name: 9640, dtype: int64
0    16
1    13
Name: 9646, dtype: int64
0    3
1    0
Name: 9657, dtype: int64
0     9
1    10
Name: 9664, dtype: int64
0    16
1    15
Name: 9703, dtype: int64
0    4
1    1
Name: 9721, dtype: int64
0    4
1    5
Name: 9725, dtype: int64
0    0
1    1
Name: 9762, dtype: int64
0    16
1    13
Name: 9771, dtype: int64
0    17
1    14
Name: 9772, dtype: int64
0    10
1     7
Name: 9813, dtype: int64
0    16
1    13
Name: 9815, dtype: int64
0    3
1    1
Name: 9822, dtype: int64
0    3
1    1
Name: 9831, dtype: int64
0    4
1    1
Name: 9837, dtype: int64
0    16
1    17
Name: 9869, dtype: int64
0    3
1    0
Name: 9880, dtype: int64
0    12
1    13
Name: 9920, dtype: int64
0    3
1    0
Name: 9934, dtype: int64
0    4
1    1
Name: 10038, dtype: int64
0    12
1    13
Name: 10078, dtype: int64
0    17
1    13
Name: 10083, dtype: int64
0    15
1    12
Name: 10117, dtype: int64
0    16
1    13
Name: 10123, dtype: int64
0    3
1    0
Name: 10183, dtype: int64
0    10
1     7
Name: 10292, dtype: int64
0    3
1    0
Name: 10303, dtype: int64
0    4
1    1
Name: 10338, dtype: int64
0    10
1     7
Name: 10444, dtype: int64
0    4
1    1
Name: 10451, dtype: int64
0    16
1    13
Name: 10495, dtype: int64
0    8
1    7
Name: 10497, dtype: int64
0    1
1    2
Name: 10544, dtype: int64
0    3
1    0
Name: 10567, dtype: int64
0    3
1    4
Name: 10630, dtype: int64
0    4
1    1
Name: 10659, dtype: int64
0    16
1    13
Name: 10679, dtype: int64
0    3
1    0
Name: 10728, dtype: int64
0    3
1    0
Name: 10735, dtype: int64
0    3
1    4
Name: 10758, dtype: int64
0    8
1    7
Name: 10788, dtype: int64
0    4
1    0
Name: 10838, dtype: int64
0    16
1    13
Name: 10858, dtype: int64
0    11
1     7
Name: 10881, dtype: int64
0    3
1    0
Name: 10896, dtype: int64
0    4
1    5
Name: 10914, dtype: int64
0    16
1    13
Name: 10964, dtype: int64
0    16
1    13
Name: 10997, dtype: int64
0    4
1    1
Name: 10999, dtype: int64
0    12
1     6
Name: 11037, dtype: int64
0    4
1    1
Name: 11044, dtype: int64
0    3
1    6
Name: 11058, dtype: int64
0    4
1    1
Name: 11087, dtype: int64
0    3
1    4
Name: 11095, dtype: int64
0    5
1    2
Name: 11166, dtype: int64
0    4
1    1
Name: 11170, dtype: int64
0    16
1    17
Name: 11257, dtype: int64
0    3
1    0
Name: 11373, dtype: int64
0    3
1    0
Name: 11481, dtype: int64
0    4
1    1
Name: 11486, dtype: int64
0    4
1    1
Name: 11500, dtype: int64
0    3
1    4
Name: 11507, dtype: int64
0    4
1    1
Name: 11509, dtype: int64
0    4
1    1
Name: 11523, dtype: int64
0    0
1    1
Name: 11525, dtype: int64
0    0
1    1
Name: 11543, dtype: int64
0    12
1    13
Name: 11563, dtype: int64
0    4
1    1
Name: 11577, dtype: int64
0    3
1    0
Name: 11580, dtype: int64
0    4
1    5
Name: 11606, dtype: int64
0    4
1    1
Name: 11612, dtype: int64
0    3
1    0
Name: 11621, dtype: int64
0    5
1    4
Name: 11644, dtype: int64
0    15
1     9
Name: 11645, dtype: int64
0    16
1    13
Name: 11660, dtype: int64
0    3
1    4
Name: 11693, dtype: int64
0    16
1    17
Name: 11724, dtype: int64
0    8
1    7
Name: 11790, dtype: int64
0    4
1    1
Name: 11798, dtype: int64
0    16
1    13
Name: 11809, dtype: int64
0    3
1    0
Name: 11833, dtype: int64
0    3
1    4
Name: 11902, dtype: int64
0    4
1    1
Name: 11915, dtype: int64
0    3
1    0
Name: 11933, dtype: int64
0    3
1    4
Name: 12027, dtype: int64
0    10
1     7
Name: 12142, dtype: int64
0    10
1     7
Name: 12156, dtype: int64
0    3
1    0
Name: 12170, dtype: int64
0    8
1    7
Name: 12175, dtype: int64
0    4
1    5
Name: 12187, dtype: int64
0    3
1    4
Name: 12201, dtype: int64
0     9
1    10
Name: 12230, dtype: int64
0    4
1    1
Name: 12233, dtype: int64
0    10
1     7
Name: 12238, dtype: int64
0    17
1    13
Name: 12401, dtype: int64
0    5
1    4
Name: 12458, dtype: int64
0    9
1    6
Name: 12566, dtype: int64
0    12
1    13
Name: 12598, dtype: int64
0    3
1    4
Name: 12603, dtype: int64
0    3
1    4
Name: 12626, dtype: int64
0    4
1    1
Name: 12636, dtype: int64
0    3
1    0
Name: 12652, dtype: int64
0    10
1     7
Name: 12659, dtype: int64
0    0
1    1
Name: 12662, dtype: int64
0    10
1     7
Name: 12698, dtype: int64
0    12
1    13
Name: 12704, dtype: int64
0    4
1    1
Name: 12707, dtype: int64
0    4
1    5
Name: 12733, dtype: int64
0    16
1    13
Name: 12740, dtype: int64
0    16
1    13
Name: 12816, dtype: int64
0    14
1    13
Name: 12848, dtype: int64
0    0
1    6
Name: 12870, dtype: int64
0    15
1    12
Name: 12877, dtype: int64
0    10
1     6
Name: 12901, dtype: int64
0    16
1    13
Name: 12920, dtype: int64
0    3
1    4
Name: 12954, dtype: int64
0    4
1    1
Name: 13023, dtype: int64
0    10
1     7
Name: 13035, dtype: int64
0    8
1    7
Name: 13039, dtype: int64
0    16
1    13
Name: 13066, dtype: int64
0    14
1    13
Name: 13100, dtype: int64
0    4
1    1
Name: 13110, dtype: int64
0    3
1    0
Name: 13144, dtype: int64
0    0
1    1
Name: 13145, dtype: int64
0    3
1    4
Name: 13159, dtype: int64
0    16
1    13
Name: 13164, dtype: int64
0    1
1    7
Name: 13170, dtype: int64
0    10
1     7
Name: 13172, dtype: int64
0    16
1    13
Name: 13189, dtype: int64
0    16
1    13
Name: 13190, dtype: int64
0    10
1     7
Name: 13361, dtype: int64
0    3
1    0
Name: 13372, dtype: int64
0    10
1     9
Name: 13466, dtype: int64
0    4
1    1
Name: 13483, dtype: int64
0    12
1    13
Name: 13496, dtype: int64
0    10
1     7
Name: 13513, dtype: int64
0    14
1    13
Name: 13563, dtype: int64
0    4
1    1
Name: 13622, dtype: int64
0    4
1    5
Name: 13631, dtype: int64
0    14
1    13
Name: 13750, dtype: int64
0    3
1    0
Name: 13785, dtype: int64
0    16
1    13
Name: 13794, dtype: int64
0    16
1    17
Name: 13817, dtype: int64
0    10
1     7
Name: 13826, dtype: int64
0    10
1     7
Name: 13860, dtype: int64
0    16
1    13
Name: 13899, dtype: int64
0    3
1    4
Name: 13986, dtype: int64
0    3
1    0
Name: 14019, dtype: int64
0    12
1    13
Name: 14036, dtype: int64
0    10
1    11
Name: 14084, dtype: int64
0    10
1     7
Name: 14118, dtype: int64
0    12
1    13
Name: 14148, dtype: int64
0    4
1    1
Name: 14160, dtype: int64
0    14
1    17
Name: 14162, dtype: int64
0    16
1    13
Name: 14171, dtype: int64
0    4
1    1
Name: 14202, dtype: int64
0    4
1    1
Name: 14220, dtype: int64
0    16
1    13
Name: 14248, dtype: int64
0    3
1    0
Name: 14269, dtype: int64
0    3
1    0
Name: 14293, dtype: int64
0    5
1    2
Name: 14318, dtype: int64
0    14
1    13
Name: 14342, dtype: int64
0    4
1    1
Name: 14364, dtype: int64
0    3
1    4
Name: 14368, dtype: int64
0    3
1    0
Name: 14375, dtype: int64
0    4
1    5
Name: 14385, dtype: int64
0    3
1    0
Name: 14523, dtype: int64
0    11
1     7
Name: 14529, dtype: int64
0    4
1    1
Name: 14545, dtype: int64
0    3
1    0
Name: 14550, dtype: int64
0    4
1    1
Name: 14587, dtype: int64
0    16
1    13
Name: 14612, dtype: int64
0    4
1    1
Name: 14682, dtype: int64
0    3
1    0
Name: 14686, dtype: int64
0    8
1    7
Name: 14694, dtype: int64
0    10
1     7
Name: 14708, dtype: int64
0    16
1    13
Name: 14807, dtype: int64
0    16
1    13
Name: 14836, dtype: int64
0    12
1    13
Name: 14844, dtype: int64
0    16
1    13
Name: 14862, dtype: int64
0    16
1    13
Name: 14895, dtype: int64
0    12
1    13
Name: 14930, dtype: int64
0    4
1    1
Name: 14964, dtype: int64
0    4
1    1
Name: 15031, dtype: int64
0    3
1    0
Name: 15042, dtype: int64